*{
    margin: 0;
    padding: 0;
}
body{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
#wrapper{
    margin-top:5%;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 10%;
    background-color: #993333;

}
h1{
    margin-bottom: 20px;
}

h3{
    padding-bottom: 20px;
}
h1,h3{
    text-align: center;
}
#student_form{
    display: block;
    padding-bottom: 20px;
}

label{
    width: 200px;
    display: inline-block;
    /* text-align: right; */
    text-align: left;
    color: white;
    font-size: larger;
    font-weight: bolder;
    padding-left: 20%;
    
}
#btn{
    padding-left: 20%;
}

input{
    padding: 4px;
    padding-top: 4px;
    margin-bottom: 4px;
    padding-right: 100px;
}

#submit{
    margin-left: 160px;
}

